body {
    background-image: url("todobackground.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;

}

#navbar {
    display: block;
    margin-top: 2rem;
}

#title{
    display: inline; 
    padding-left: 1px;
    list-style-type: none;
    padding-right:20re;
    font-size: 40px;
    font-family: 'Libre Bodoni';    
    color: white;
}

li{
    display:inline;
    text-align: right;
    padding: 0.5rem;
}
li a{
    text-decoration: none;
    color: #FFFFFF;
    margin-left: 10rem;
     
}

#task-wrapper{
    height:400px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: none;
    border-color: black;
    margin-left: 10rem;
    margin-top: 5rem;
    background-image: url('paperbackground.jpg');
    border-radius: 20px;
}

#day{
    position: absolute;
    height: 60px;
    color: rgb(0, 0, 0);
    margin-bottom: 300px;
}
#inputTask{
    position: absolute;
    margin-top: 300px;
    width: 220px;
    height: 30px;
    border: 1px solid black;
    border-radius: 10px;
}
#sendInput{
    position: absolute;
    top: 504px;
    left: 400px;
    z-index: 10;

}
@media  screen and (max-width: 875px) {
    #navbar {
        display: flex;
        margin-top: 2rem;
    }
}

